# Variáveis de ambiente — nunca entram na imagem
.env

# Controle de versão
.git/
.gitignore
.gitattributes

# Ambientes virtuais Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# IDEs e editores
.idea/
.vscode/
.continue/

# Dependências de dev (não precisam no container)
requirements-dev.txt

# Infraestrutura (não precisa no container)
infra/

# Docker local
docker-compo