<img class="bg-layer" src="/static/img/bg_1999.png" alt="Fundo 1999">

<div id="cena-fim-1999" style="
    display: {% if cena_fim_1999_display %}{{ cena_fim_1999_display }}{% else %}flex{% endif %};
">
    <div id="texto-virada" style="
        display: {% if texto_virada_display %}{{ texto_virada_display }}{% else %}block{% endif %};
    ">{{ texto_virada | safe }}</div>

    <div id="numero-contagem" style="
        display: {% if numero_contagem_display %}{{ numero_contagem_display }}{% else %}none{% endif %};
    ">{% if numero_contagem_valor %}{{ numero_contagem_valor }}{% endif %}</div>

    <h1 id="texto-feliz-ano" style="
        display: {% if texto_feliz_ano_display %}{{ texto_feliz_ano_display }}{% else %}none{% endif %};
    ">FELIZ ANO 2000 PARA TODOS NÓS!</h1>

    <div id="imagens-personagens" style="
        display: {% if imagens_personagens_display %}{{ imagens_personagens_display }}{% else %}none{% endif %};
    ">
        <img src="/static/img/gerente.png">
        <img src="/static/img/mauricio.png">
        <img src="/static/img/leila.png">
        <img src="/static/img/vagner.png">
    </div>
</div>

<div id="container-shutdown" style="
    display: {% if container_shutdown_display %}{{ container_shutdown_display }}{% else %}none{% endif %};
    background-color: black; width: 100vw; height: 100vh; position: fixed; top: 0; left: 0; z-index: 10001; justify-content: center; align-items: center;
">
    <video id="video-shutdown" playsinline preload="auto" style="
        display: {% if video_shutdown_display %}{{ video_shutdown_display }}{% else %}none{% endif %};
        max-width: 100%; max-height: 100%;
    ">
        <source src="/static/video/wormhole.mp4" type="video/mp4">
    </video>
</div>
