<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Motor 1999/2026 - O Jogo</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<video id="video-wormhole" class="layout-oculto" src="/static/video/shutdown.mp4" muted playsinline></video>
<div id="terminal-overlay" class="layout-oculto">
    <img src="/static/img/terminal_bg_shuwdown.gif" id="terminal-gif" alt="Terminal Closing">
</div>
<div class="game-container">
    <img id="ui-bg" class="bg-layer" src="" alt="Fundo">

    <div id="cenario-atores">
        <div id="ator-vagner-container" class="actor-layer layout-esquerda layout-oculto">
            <img id="ator-vagner" class="actor-img ator-foco" src="/static/img/vagner.png" alt="Vagner">
        </div>
        <div id="ator-npc-container" class="actor-layer layout-direita layout-oculto">
            <img id="ator-npc" class="actor-img" src="" alt="Interlocutor">
        </div>
    </div>

    <div class="ui-layer">
        <div class="vn-window">
            <div class="vn-content" id="scroll-box">
                <div class="dialog-text" id="ui-texto-dialogo"></div>
                <div id="ui-opcoes" class="options-container"></div>
            </div>
        </div>
    </div>
    <script src="/static/js/game.js"></script>

    <div class="transition-overlay" id="fx-overlay"></div>
</div>
</body>
</html>