<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Motor 1999/2026 - Inicialização</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body>
<audio id="trilha-sonora-intro" src="/static/audio/Game_1999.mp3" preload="auto" muted></audio>
<video id="video-wormhole-intro" src="/static/video/wormhole.mp4" class="oculto" style="position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; object-fit: cover; z-index: 999999;"></video>
<div class="game-container tema-{{ tema_visual }}" id="intro-container">
    <div id="ato1-terminal">
        <div class="terminal-input-wrapper">
            <span class="terminal-prompt">LOGIN:</span>
            <form hx-post="/api/iniciar-intro" hx-target="#intro-container" hx-swap="innerHTML">
                <input type="text" id="nome-jogador" name="nome" autocomplete="off" autofocus maxlength="15">
            </form>
        </div>
    </div>
    <div id="ato2-vhs" class="oculto"></div>
</div>
<script type="module" src="/static/js/motor_shell.js"></script>
</body>
</html>